@import '../utils/variables';
@import '../utils/mixins';
.side-bar {
    background-color: $BG-Primary;
    height: 100vh;
    width: 22vw;
}
.bottom-item{
    @include flex-container(flex-end, row, flex-start);
    position: absolute;
    width: 22vw;
    bottom: 0vh;
}