@import "../../utils/_mixins";
@import "../../utils/variables";
.null-container-img {
  margin-top: 10vh;
  @include flex-container(center, column, center);
  .img-container {
    border-radius: 8px;
    height: 35vh;
    background-color: rgba(49, 49, 49, 0.582);
    width: 41vh;
    @include flex-container(center, column, center);
    img {
      height: 10vh;
      width: 10vh;
    }
    article {
      color: #fff;
      font-family: $Primary-fonts;
      margin-top: 3vh;
      margin-bottom: 2vh;
      font-size: 1.1em;
    }
    span {
      color: $Font-PrimaryColor;
      text-align: center;
      font-size: 0.7em;
      display: flex;
      margin: 0 2vw;
    }
  }
}
