@import "../../utils/_mixins";
@import "../../utils/variables";

.note-container {
  position: relative;
  color: $Font-PrimaryColor;
  background-color: #060c108e;
  width: 97%;
  padding: 2.3vh 2vh;
  margin-left: 3.5vh;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  margin-bottom: 0.5vh;
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);

  i,
  span {
    font-size: 1em;
    display: flex;
    align-self: center;
  }
  i:hover {
    color: red;
  }
  // i:hover::before {
  //   content: "✓";
  //   color: #e2e2e2;
  //   position: absolute;
  //   left: 14px;
  //   font-size: 0.6em;
  //   font-weight: 500;
  // }
  // @media screen and (max-width: 800px) {
  //   i:hover::before {
  //     left: 20px;
  //   }
  // }
  span {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  span:hover {
    color: #8795a0;
  }
  p {
    padding-left: 1vw;
    color: #dfdddd;
    width: 100%;
    font-size: 0.8em;
  }
}
.note-container:hover {
  background-color: #1e1e1e80;
}
