@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");
.side-bar-items-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0.2vw;
  padding-top: 2vh;
}
.side-bar-items-container .side-items {
  color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2vh 2vh 2vh 2.3vh;
  margin-bottom: 0.4vh;
  width: 100%;
  text-decoration: none;
}
.side-bar-items-container .side-items .icons {
  padding-right: 1.5vw;
  align-self: center;
  display: flex;
  font-size: 1.1rem;
  color: #8795a0;
}
.side-bar-items-container .side-items .title {
  font-size: 0.8rem;
  font-family: "Source Sans Pro", sans-serif;
}
.side-bar-items-container .side-items:hover {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #313131;
  width: 100%;
  cursor: default;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.side-bar-items-container .active {
  background-color: #313131;
  width: 100%;
  cursor: default;
}
.side-bar-items-container .active::before {
  content: "";
  position: absolute;
  height: 3vh;
  width: 0.3vw;
  left: 0.2vw;
  background-color: #76b9ed;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.side-bar-items-container .horizontal-rule {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.side-bar-items-container .horizontal-rule span {
  margin-top: 0.4vh;
  width: 95%;
  height: 0.5px;
  background-color: #535a5f;
}

.bottom-item-container {
  color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.bottom-item-container .side-items {
  padding-left: 0.6vw;
  display: flex;
  width: 90%;
  align-items: center;
}
.bottom-item-container .side-items .add-icon {
  font-size: 1.57rem;
  color: #d2d2d2;
}
.bottom-item-container .side-items .text-list {
  padding-left: 1vw;
  font-size: 0.8rem;
  font-family: "Source Sans Pro", sans-serif;
}
.bottom-item-container .side-items:hover {
  cursor: default;
  background-color: #313131;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.bottom-item-container .square-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.bottom-item-container .square-icon-container .square-icon {
  font-size: 1.4rem;
  padding: 0 1vh;
  margin-right: 0.5vw;
  color: #d2d2d2;
}
.bottom-item-container .square-icon-container .square-icon:hover {
  cursor: default;
  background-color: #313131;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}/*# sourceMappingURL=items.css.map */