@import "../../utils/mixins";
@import "../../utils/variables";

.side-bar-items-container {
  @include flex-container(flex-start, column, flex-start);
  padding: 0 0.2vw;
  padding-top: 2vh;
  .side-items {
    color: aliceblue;
    @include flex-container(center, row, flex-start);
    padding: 2vh 2vh 2vh 2.3vh;
    margin-bottom: 0.4vh;
    width: 100%;
    text-decoration: none;
    .icons {
      padding-right: 1.5vw;
      align-self: center;
      display: flex;
      font-size: 1.1rem;
      color: #8795a0;
    }
    .title {
      font-size: $Font-size;
      font-family: $Primary-fonts;
    }
  }
  .side-items:hover {
    @include flex-container(center, row, flex-start);
    background-color: #313131;
    width: 100%;
    cursor: default;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .active {
    @include active-class;
  }
  .active::before {
    content: "";
    position: absolute;
    height: 3vh;
    width: 0.3vw;
    left: 0.2vw;
    background-color: #76b9ed;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .horizontal-rule {
    @include flex-container(center, row, center);
    width: 100%;
    span {
      margin-top: 0.4vh;
      width: 95%;
      height: 0.5px;
      background-color: #535a5f;
    }
  }
}
.bottom-item-container {
  color: aliceblue;
  @include flex-container(center, row, center);
  width: 100%;
  .side-items {
    padding-left: 0.6vw;
    display: flex;
    width: 90%;
    align-items: center;
    .add-icon {
      font-size: 1.57rem;
      color: #d2d2d2;
    }
    .text-list {
      padding-left: 1vw;
      font-size: $Font-size;
      font-family: $Primary-fonts;
    }
  }
  .side-items:hover {
    cursor: default;
    background-color: #313131;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .square-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    .square-icon {
      font-size: 1.4rem;
      padding: 0 1vh;
      margin-right: 0.5vw;
      color: #d2d2d2;
    }
    .square-icon:hover {
      cursor: default;
      background-color: #313131;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
    }
  }
}
