@import "../../utils/_mixins.scss";
@import "../../utils/variables";
.search-notes-input {
    margin-top: 3vh;
    color: #fff;
    flex-direction: row;
    @include flex-container(center, row, center);
    input[type="text"],
    input:focus {
        background-color: $Search-box-color;
        outline: none;
        caret-color: #fff;
        color: #fff;
        width: 90%;
        padding: 1vh;
        border: 0.5px rgba(128, 128, 128, 0.374) solid;
        border-bottom: 1px solid #989898;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;        
    }
    input::placeholder{
        color: #ccc;
        font-weight: 400;
    }
    .search-icon {
        color: #fff;
        position: relative;
        left: -10%;
        z-index: 1;
        font-size: .960rem;
    }
}
