$BG-Primary: #202020;
// $Image-First: "../../images/image2.jpg";
// $Image-First: "../../images/wp2532974-night-mountain-wallpapers.jpg";
$Image-First: "../../images/Wallpaper1.jpg";
$Search-box-color: #202020;
$Font-size: 0.8rem;
$Primary-fonts: "Sofia Sans", sans-serif;
$Font-PrimaryColor: #e2e2e2;
