@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");
$BG-Primary: #202020;
// $Image-First: "../../images/image2.jpg";
$Image-First: "../../images/wp2532974-night-mountain-wallpapers.jpg";
// $Image-First: "../../images/Wallpaper1.jpg";
$Search-box-color: #202020;
$Font-size: 0.8rem;
$Primary-fonts: "Source Sans Pro", sans-serif;
$Font-PrimaryColor: #e2e2e2;
